{% extends "base.html" %}

{% block content %}
<section id="about" class="about" data-aos="fade-up">
    <div class="container">
        <div class="about-content">
            <!-- Left Column: Profile Image & Social Links -->
            <div class="about-left">
                <img src="{{ url_for('static', filename='images/profile.png') }}" alt="Your Name" class="profile-pic">
                <div class="social-links-container">
                    <section id="contact" class="contact" data-aos="zoom-in">
                        <div class="social-links">
                            <!-- GitHub -->
                            <a href="https://github.com/binnimar" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                            <!-- LinkedIn -->
                            <a href="https://www.linkedin.com/in/brynjolfurmargeorgsson/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!-- Email -->
                            <a href="mailto:binnimar3319@gmail.com">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Right Column: Text and Resume Button -->
            <div class="about-right">
                <div class="about-text">
                    <p>
                        Hello, my name is Brynjólfur Már Georgsson and I am a software engineer with a strong foundation
                        in quality assurance, having worked as a backend QA with expertise in manual, automated, and
                        performance testing. In addition, I have gained experience as a Platform Engineer, which has
                        sparked a growing interest in DevOps and platform engineering. I am now focused on expanding my
                        knowledge and gaining more experience in these areas, with the goal of growing as a
                        DevOps/Platform Engineer while continuing to develop my skills as a software engineer and
                        programmer.
                    </p>
                    <p>
                        My background includes platform engineering, infrastructure as code, and containerization
                        (Docker & Kubernetes). I also have experience with monitoring tools like Prometheus and Grafana.
                    </p>
                </div>
                <div class="resume-download">
                    <a href="{{ url_for('static', filename='files/resume.pdf') }}" download="YourName_Resume.pdf"
                        class="btn">
                        Download My Resume (PDF)
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}